@{
    Layout = null;
    ViewBag.Title = "Administration";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/Styles/Administartion/Administration_Styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Common/axure_rp_page.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Common/Data_Styles.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u158" class="ax_default box_1">
            <div id="u158_div" class=""></div>
            <div id="u158_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- User Menu Pnael (Group) -->
        <div id="u159" class="ax_default" data-label="User Menu Pnael" data-left="258" data-top="87" data-width="200" data-height="158">

            <!-- User Box Large (Rectangle) -->
            <div id="u160" class="ax_default box_1" data-label="User Box Large">
                <div id="u160_div" class=""></div>
                <div id="u160_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u161" class="ax_default box_1">
                <div id="u161_div" class=""></div>
                <div id="u161_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u162" class="ax_default image">
                <img id="u162_img" class="img " src="~/Images/dashboard/u67.png" />
                <div id="u162_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u163" class="ax_default label">
                <div id="u163_div" class=""></div>
                <div id="u163_text" class="text ">
                    <p><span>Users</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u164" class="ax_default label">
                <div id="u164_div" class=""></div>
                <div id="u164_text" class="text ">
                    <p><span>32</span></p>
                </div>
            </div>

            <!-- Add User (Group) -->
            <div id="u165" class="ax_default" data-label="Add User" data-left="274" data-top="175" data-width="134" data-height="15">

                <!-- Unnamed (Rectangle) -->
                <div id="u166" class="ax_default label">
                    <div id="u166_div" class=""></div>
                    <div id="u166_text" class="text ">
                        <p><span>Add User</span></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u167" class="ax_default image">
                    <img id="u167_img" class="img " src="~/Images/administration/u167.png" />
                    <div id="u167_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- View User (Group) -->
            <div id="u168" class="ax_default" data-label="View User" data-left="274" data-top="195" data-width="134" data-height="15">

                <!-- Unnamed (Image) -->
                <div id="u169" class="ax_default image">
                    <img id="u169_img" class="img " src="~/Images/administration/u169.png" />
                    <div id="u169_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u170" class="ax_default label">
                    <div id="u170_div" class=""></div>
                    <div id="u170_text" class="text ">
                        <p><span>View Users</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- User Menu Line (Line) -->
        <div id="u171" class="ax_default line" data-label="User Menu Line">
            <img id="u171_img" class="img " src="~/Images/administration/user_menu_line_u171.svg" />
            <div id="u171_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- bottom Bar (Rectangle) -->
        <div id="u172" class="ax_default box_1" data-label="bottom Bar">
            <div id="u172_div" class=""></div>
            <div id="u172_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Header (Rectangle) -->
        <div id="u173" class="ax_default box_1" data-label="Header">
            <div id="u173_div" class=""></div>
            <div id="u173_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- App Icon (Image) -->
        <div id="u174" class="ax_default image" data-label="App Icon">
            <img id="u174_img" class="img " src="~/Images/login/u6.png" />
            <div id="u174_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Menu Header 2 (Dynamic Panel) -->
        <div id="u175" class="ax_default" data-label="Menu Header 2">
            <div id="u175_state0" class="panel_state" data-label="Unhidden" style="">
                <div id="u175_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u176" class="ax_default box_1">
                        <div id="u176_div" class=""></div>
                        <div id="u176_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u177" class="ax_default heading_1">
                        <div id="u177_div" class=""></div>
                        <div id="u177_text" class="text ">
                            <p><span>BI Ast. Mgt. Portal</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u175_state1" class="panel_state" data-label="Hidden" style="visibility: hidden;">
                <div id="u175_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u178" class="ax_default box_1">
                        <div id="u178_div" class=""></div>
                        <div id="u178_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Open Panel (Image) -->
                    <div id="u179" class="ax_default image" data-label="Open Panel">
                        <img id="u179_img" class="img " src="~/Images/dashboard/open_panel_u29.png" />
                        <div id="u179_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Welcome In (Rectangle) -->
                    <div id="u180" class="ax_default label" data-label="Welcome In">
                        <div id="u180_div" class=""></div>
                        <div id="u180_text" class="text ">
                            <p><span>ADMINISTRATION</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Body 1 (Dynamic Panel) -->
        <div id="u181" class="ax_default" data-label="Menu Body 1">
            <div id="u181_state0" class="panel_state" data-label="State1" style="">
                <div id="u181_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u182" class="ax_default box_1">
                        <div id="u182_div" class=""></div>
                        <div id="u182_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Body 2 (Dynamic Panel) -->
        <div id="u183" class="ax_default" data-label="Menu Body 2">
            <div id="u183_state0" class="panel_state" data-label="State1" style="">
                <div id="u183_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u184" class="ax_default box_1">
                        <div id="u184_div" class=""></div>
                        <div id="u184_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Dashboard (Dynamic Panel) -->
                    <div id="u185" class="ax_default" data-label="Dashboard">
                        <div id="u185_state0" class="panel_state" data-label="Grey" style="">
                            <div id="u185_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u186" class="ax_default box_1">
                                    <div id="u186_div" class=""></div>
                                    <div id="u186_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u185_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                            <div id="u185_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u187" class="ax_default box_1">
                                    <div id="u187_div" class=""></div>
                                    <div id="u187_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u185_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                            <div id="u185_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u188" class="ax_default box_1">
                                    <div id="u188_div" class=""></div>
                                    <div id="u188_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Requests (Dynamic Panel) -->
                    <div id="u189" class="ax_default" data-label="Requests">
                        <div id="u189_state0" class="panel_state" data-label="Grey" style="">
                            <div id="u189_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u190" class="ax_default box_1">
                                    <div id="u190_div" class=""></div>
                                    <div id="u190_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u189_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                            <div id="u189_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u191" class="ax_default box_1">
                                    <div id="u191_div" class=""></div>
                                    <div id="u191_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u189_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                            <div id="u189_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u192" class="ax_default box_1">
                                    <div id="u192_div" class=""></div>
                                    <div id="u192_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u189_state3" class="panel_state" data-label="On Page" style="visibility: hidden;">
                            <div id="u189_state3_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u193" class="ax_default box_1">
                                    <div id="u193_div" class=""></div>
                                    <div id="u193_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Requests Addon Panel (Dynamic Panel) -->
                    <div id="u194" class="ax_default ax_default_hidden" data-label="Requests Addon Panel" style="display:none; visibility: hidden">
                        <div id="u194_state0" class="panel_state" data-label="State1" style="">
                            <div id="u194_state0_content" class="panel_state_content">

                                <!-- New Request (Rectangle) -->
                                <div id="u195" class="ax_default label" data-label="New Request">
                                    <div id="u195_div" class=""></div>
                                    <div id="u195_text" class="text ">
                                        <p><span>Create New Request</span></p>
                                    </div>
                                </div>

                                <!-- View Requests (Rectangle) -->
                                <div id="u196" class="ax_default label" data-label="View Requests">
                                    <div id="u196_div" class=""></div>
                                    <div id="u196_text" class="text ">
                                        <p><span>View Pending Requests</span></p>
                                    </div>
                                </div>

                                <!-- View Approvals (Rectangle) -->
                                <div id="u197" class="ax_default label" data-label="View Approvals">
                                    <div id="u197_div" class=""></div>
                                    <div id="u197_text" class="text ">
                                        <p><span>View Pending Approvals</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hide Panel Button (Image) -->
        <div id="u198" class="ax_default image" data-label="Hide Panel Button">
            <img id="u198_img" class="img " src="~/Images/dashboard/hide_panel_button_u49.png" />
            <div id="u198_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Welcome out (Rectangle) -->
        <div id="u199" class="ax_default label" data-label="Welcome out">
            <div id="u199_div" class=""></div>
            <div id="u199_text" class="text ">
                <p><span>ADMINISTRATION</span></p>
            </div>
        </div>

        <!-- Dashboard Icon (Dynamic Panel) -->
        <div id="u200" class="ax_default" data-label="Dashboard Icon">
            <div id="u200_state0" class="panel_state" data-label="Grey" style="">
                <div id="u200_state0_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u201" class="ax_default image">
                        <img id="u201_img" class="img " src="~/Images/dashboard/u52.png" />
                        <div id="u201_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u200_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                <div id="u200_state1_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u202" class="ax_default image">
                        <img id="u202_img" class="img " src="~/Images/dashboard/u53.png" />
                        <div id="u202_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u200_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                <div id="u200_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u203" class="ax_default box_1">
                        <div id="u203_div" class=""></div>
                        <div id="u203_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u204" class="ax_default image">
                        <img id="u204_img" class="img " src="~/Images/dashboard/u55.png" />
                        <div id="u204_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Admin Menu Button (Dynamic Panel) -->
        <div id="u205" class="ax_default" data-label="Admin Menu Button">
            <div id="u205_state0" class="panel_state" data-label="State1" style="">
                <div id="u205_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u206" class="ax_default box_1">
                        <div id="u206_div" class=""></div>
                        <div id="u206_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u207" class="ax_default image">
                        <img id="u207_img" class="img " src="~/Images/dashboard/u60.png" />
                        <div id="u207_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u205_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u205_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u208" class="ax_default box_1">
                        <div id="u208_div" class=""></div>
                        <div id="u208_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u209" class="ax_default image">
                        <img id="u209_img" class="img " src="~/Images/dashboard/u60.png" />
                        <div id="u209_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u205_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
                <div id="u205_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u210" class="ax_default box_1">
                        <div id="u210_div" class=""></div>
                        <div id="u210_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u211" class="ax_default image">
                        <img id="u211_img" class="img " src="~/Images/dashboard/u64.png" />
                        <div id="u211_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Menu Button (Dynamic Panel) -->
        <div id="u212" class="ax_default" data-label="Profile Menu Button">
            <div id="u212_state0" class="panel_state" data-label="State1" style="">
                <div id="u212_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u213" class="ax_default box_1">
                        <div id="u213_div" class=""></div>
                        <div id="u213_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u214" class="ax_default image">
                        <img id="u214_img" class="img " src="~/Images/dashboard/u67.png" />
                        <div id="u214_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u212_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u212_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u215" class="ax_default box_1">
                        <div id="u215_div" class=""></div>
                        <div id="u215_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u216" class="ax_default image">
                        <img id="u216_img" class="img " src="~/Images/dashboard/u67.png" />
                        <div id="u216_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- WS & Reps Panel (Group) -->
        <div id="u217" class="ax_default" data-label="WS &amp; Reps Panel" data-left="492" data-top="87" data-width="247" data-height="158">

            <!-- WS & Reps Box Large (Rectangle) -->
            <div id="u218" class="ax_default box_1" data-label="WS &amp; Reps Box Large">
                <div id="u218_div" class=""></div>
                <div id="u218_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u219" class="ax_default box_1">
                <div id="u219_div" class=""></div>
                <div id="u219_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u220" class="ax_default image">
                <img id="u220_img" class="img " src="~/Images/administration/u220.png" />
                <div id="u220_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- User Menu Line (Line) -->
            <div id="u221" class="ax_default line" data-label="User Menu Line">
                <img id="u221_img" class="img " src="~/Images/administration/user_menu_line_u221.svg" />
                <div id="u221_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u222" class="ax_default label">
                <div id="u222_div" class=""></div>
                <div id="u222_text" class="text ">
                    <p><span>Workspaces/ Reports</span></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u223" class="ax_default label">
                <div id="u223_div" class=""></div>
                <div id="u223_text" class="text ">
                    <p><span>5 / 25</span></p>
                </div>
            </div>

            <!-- View WS & Reps (Group) -->
            <div id="u224" class="ax_default" data-label="View WS &amp; Reps" data-left="499" data-top="175" data-width="220" data-height="15">

                <!-- Unnamed (Image) -->
                <div id="u225" class="ax_default image">
                    <img id="u225_img" class="img " src="~/Images/administration/u169.png" />
                    <div id="u225_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u226" class="ax_default label">
                    <div id="u226_div" class=""></div>
                    <div id="u226_text" class="text ">
                        <p><span>View Workspaces &amp; Reports</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Roles & Rights Panel (Group) -->
        <div id="u227" class="ax_default" data-label="Roles &amp; Rights Panel" data-left="763" data-top="87" data-width="247" data-height="158">

            <!-- Roles & Rights Box Large (Rectangle) -->
            <div id="u228" class="ax_default box_1" data-label="Roles &amp; Rights Box Large">
                <div id="u228_div" class=""></div>
                <div id="u228_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u229" class="ax_default box_1">
                <div id="u229_div" class=""></div>
                <div id="u229_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Image) -->
            <div id="u230" class="ax_default image">
                <img id="u230_img" class="img " src="~/Images/administration/u230.png" />
                <div id="u230_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u231" class="ax_default label">
                <div id="u231_div" class=""></div>
                <div id="u231_text" class="text ">
                    <p><span>Roles &amp; Rights</span></p>
                </div>
            </div>

            <!-- User Menu Line (Line) -->
            <div id="u232" class="ax_default line" data-label="User Menu Line">
                <img id="u232_img" class="img " src="~/Images/administration/user_menu_line_u232.svg" />
                <div id="u232_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u233" class="ax_default label">
                <div id="u233_div" class=""></div>
                <div id="u233_text" class="text ">
                    <p><span>3</span></p>
                </div>
            </div>

            <!-- Add Roles (Group) -->
            <div id="u234" class="ax_default" data-label="Add Roles" data-left="779" data-top="175" data-width="134" data-height="15">

                <!-- Unnamed (Rectangle) -->
                <div id="u235" class="ax_default label">
                    <div id="u235_div" class=""></div>
                    <div id="u235_text" class="text ">
                        <p><span>Add Role</span></p>
                    </div>
                </div>

                <!-- Unnamed (Image) -->
                <div id="u236" class="ax_default image">
                    <img id="u236_img" class="img " src="~/Images/administration/u167.png" />
                    <div id="u236_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- View Roles (Group) -->
            <div id="u237" class="ax_default" data-label="View Roles" data-left="779" data-top="195" data-width="134" data-height="15">

                <!-- Unnamed (Image) -->
                <div id="u238" class="ax_default image">
                    <img id="u238_img" class="img " src="~/Images/administration/u169.png" />
                    <div id="u238_text" class="text " style="display:none; visibility: hidden">
                        <p></p>
                    </div>
                </div>

                <!-- Unnamed (Rectangle) -->
                <div id="u239" class="ax_default label">
                    <div id="u239_div" class=""></div>
                    <div id="u239_text" class="text ">
                        <p><span>View Roles</span></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Requests Icon (Dynamic Panel) -->
        <div id="u240" class="ax_default" data-label="Requests Icon">
            <div id="u240_state0" class="panel_state" data-label="Grey" style="">
                <div id="u240_state0_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u241" class="ax_default image">
                        <img id="u241_img" class="img " src="~/Images/dashboard/u150.png" />
                        <div id="u241_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u240_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                <div id="u240_state1_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u242" class="ax_default image">
                        <img id="u242_img" class="img " src="~/Images/dashboard/u151.png" />
                        <div id="u242_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u240_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                <div id="u240_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u243" class="ax_default box_1">
                        <div id="u243_div" class=""></div>
                        <div id="u243_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u244" class="ax_default image">
                        <img id="u244_img" class="img " src="~/Images/dashboard/u153.png" />
                        <div id="u244_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u240_state3" class="panel_state" data-label="On Page" style="visibility: hidden;">
                <div id="u240_state3_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u245" class="ax_default box_1">
                        <div id="u245_div" class=""></div>
                        <div id="u245_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u246" class="ax_default image">
                        <img id="u246_img" class="img " src="~/Images/dashboard/u153.png" />
                        <div id="u246_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logged User (Rectangle) -->
        <div id="u247" class="ax_default label" data-label="Logged User">
            <div id="u247_div" class=""></div>
            <div id="u247_text" class="text ">
                <p><span>Sandeep Saleem</span></p>
            </div>
        </div>

        <!-- Time (Rectangle) -->
        <div id="u248" class="ax_default label" data-label="Time">
            <div id="u248_div" class=""></div>
            <div id="u248_text" class="text ">
                <p><span>xxxxxxxx</span></p>
            </div>
        </div>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>
</body>
</html>
