
@{
    Layout = null;
    ViewBag.Title = "Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>   
    <link href="~/Styles/Login/Login_Styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Login/Data_Styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Login/axure_rp_page.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u0" class="ax_default box_1">
            <div id="u0_div" class=""></div>
            <div id="u0_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Unnamed (Image) -->
        <div id="u1" class="ax_default image">
            <img id="u1_img" class="img " src="~/Images/login/u1.png" />
            <div id="u1_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Main Login Box (Rectangle) -->
        <div id="u2" class="ax_default box_1" data-label="Main Login Box">
            <div id="u2_div" class=""></div>
            <div id="u2_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Secondary Login Box (Rectangle) -->
        <div id="u3" class="ax_default box_1" data-label="Secondary Login Box">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Please Login (Rectangle) -->
        <div id="u4" class="ax_default heading_1" data-label="Please Login">
            <div id="u4_div" class=""></div>
            <div id="u4_text" class="text ">
                <p><span>PLEASE LOGIN</span></p>
            </div>
        </div>

        <!-- Unnamed (Group) -->
        <div id="u5" class="ax_default" data-left="314" data-top="109" data-width="472" data-height="45">

            <!-- Unnamed (Image) -->
            <div id="u6" class="ax_default image">
                <img id="u6_img" class="img " src="~/Images/login/u6.png" />
                <div id="u6_text" class="text " style="display:none; visibility: hidden">
                    <p></p>
                </div>
            </div>

            <!-- Unnamed (Rectangle) -->
            <div id="u7" class="ax_default heading_1">
                <div id="u7_div" class=""></div>
                <div id="u7_text" class="text ">
                    <p><span>BI Assets Management Portal</span></p>
                </div>
            </div>
        </div>

        <!-- Email (Rectangle) -->
        <div id="u8" class="ax_default heading_1" data-label="Email">
            <div id="u8_div" class=""></div>
            <div id="u8_text" class="text ">
                <p><span>Email</span></p>
            </div>
        </div>

        <!-- Email Entry (Text Field) -->
        <div id="u9" class="ax_default text_field" data-label="Email Entry">
            <div id="u9_div" class=""></div>
            <input id="u9_input" type="text" value="" class="u9_input" placeholder="Enter your Email" />
        </div>

        <!-- Password (Rectangle) -->
        <div id="u10" class="ax_default heading_1" data-label="Password">
            <div id="u10_div" class=""></div>
            <div id="u10_text" class="text ">
                <p><span>Password</span></p>
            </div>
        </div>

        <!-- Password Entry (Text Field) -->
        <div id="u11" class="ax_default text_field" data-label="Password Entry">
            <div id="u11_div" class=""></div>
            <input id="u11_input" type="password" value="" class="u11_input"  placeholder="Enter Password"/>
        </div>

        <!-- Remember Me (Checkbox) -->
        <div id="u12" class="ax_default checkbox" data-label="Remember Me">
            @*<label id="u12_input_label" for="u12_input" style="position: absolute; left: 0px;">
                <img id="u12_img" class="img " src="~/Images/login/remember_me_u12.svg" />
                <div id="u12_text" class="text ">
                    <p><span>Remember Me</span></p>
                </div>
            </label>*@
            @*<input id="u12_input" type="checkbox" value="checkbox" />*@
            <label id="u12_input_label" for="u12_input" style="position: absolute; left: 0px;">
                <input id="chkRememberMe" name="chkRememberMe" type="checkbox" />
                <div id="u12_text" class="text ">
                    <p><span>&nbsp;Remember Me</span></p>
                </div>
             </label>
        </div>

        <!-- Login Button (Rectangle) -->
        @*<div id="u13"  data-label="Login Button">*@
            @*<div id="u13_div" class="">
                
            </div>*@
            <div id="u13_text" class="text ">
                <input id="btnLogin" value="Log In" type="button" onclick="alert('Login Clicked')" class="ax_default primary_button" />
                @*<p><span><input id="btnLogin" value="Log In" type="button" /></span></p>*@
            </div>           
        @*</div>*@

        <!-- Unnamed (Line) -->
        <div id="u14" class="ax_default line">
            <img id="u14_img" class="img " src="~/Images/login/u14.svg" />
            <div id="u14_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Forgot Password (Rectangle) -->
        <div id="u15" class="ax_default label" data-label="Forgot Password">
            <div id="u15_div" class=""></div>
            <div id="u15_text" class="text ">
                @*<p><span>Forgot Password</span></p>*@
                <p><label onclick="alert('Forgot Password Clicked')"> Forgot Password</label></p>
            </div>
        </div>

        <!-- Forgot Password (Dynamic Panel) -->
        <div id="u16" class="ax_default ax_default_hidden" data-label="Forgot Password" style="display:none; visibility: hidden">
            <div id="u16_state0" class="panel_state" data-label="Reset Message" style="">
                <div id="u16_state0_content" class="panel_state_content">

                    <!-- Forgot Password (Rectangle) -->
                    <div id="u17" class="ax_default box_1" data-label="Forgot Password">
                        <div id="u17_div" class=""></div>
                        <div id="u17_text" class="text ">
                            <p><span>An email has been sent to your email Id with instructions to reset your password. Good Day !</span></p>
                        </div>
                    </div>

                    <!-- Forgot Password Close (Image) -->
                    <div id="u18" class="ax_default image" data-label="Forgot Password Close">
                        <img id="u18_img" class="img " src="~/Images/login/forgot_password_close_u18.png" />
                        <div id="u18_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u16_state1" class="panel_state" data-label="Error Message" style="visibility: hidden;">
                <div id="u16_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u19" class="ax_default box_1">
                        <div id="u19_div" class=""></div>
                        <div id="u19_text" class="text ">
                            <p><span>Please enter a valid email Id to proceed. Thank You !</span></p>
                        </div>
                    </div>

                    <!-- Forgot Password Close (Image) -->
                    <div id="u20" class="ax_default image" data-label="Forgot Password Close">
                        <img id="u20_img" class="img " src="~/Images/login/forgot_password_close_u18.png" />
                        <div id="u20_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
