@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WorkSpace and Reports</title>

    <link href="~/Styles/WorkSpaces_Reports/ws_repos.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Common/Data_Styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Common/axure_rp_page.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u249" class="ax_default box_1">
            <div id="u249_div" class=""></div>
            <div id="u249_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- bottom Bar (Rectangle) -->
        <div id="u250" class="ax_default box_1" data-label="bottom Bar">
            <div id="u250_div" class=""></div>
            <div id="u250_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Header (Rectangle) -->
        <div id="u251" class="ax_default box_1" data-label="Header">
            <div id="u251_div" class=""></div>
            <div id="u251_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- App Icon (Image) -->
        <div id="u252" class="ax_default image" data-label="App Icon">
            <img id="u252_img" class="img " src="~/Images/login/u6.png" />
            <div id="u252_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Menu Header 2 (Dynamic Panel) -->
        <div id="u253" class="ax_default" data-label="Menu Header 2">
            <div id="u253_state0" class="panel_state" data-label="Unhidden" style="">
                <div id="u253_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u254" class="ax_default box_1">
                        <div id="u254_div" class=""></div>
                        <div id="u254_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u255" class="ax_default heading_1">
                        <div id="u255_div" class=""></div>
                        <div id="u255_text" class="text ">
                            <p><span>BI Ast. Mgt. Portal</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u253_state1" class="panel_state" data-label="Hidden" style="visibility: hidden;">
                <div id="u253_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u256" class="ax_default box_1">
                        <div id="u256_div" class=""></div>
                        <div id="u256_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Open Panel (Image) -->
                    <div id="u257" class="ax_default image" data-label="Open Panel">
                        <img id="u257_img" class="img " src="~/Images/dashboard/open_panel_u29.png" />
                        <div id="u257_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Welcome In (Rectangle) -->
                    <div id="u258" class="ax_default label" data-label="Welcome In">
                        <div id="u258_div" class=""></div>
                        <div id="u258_text" class="text ">
                            <p style="font-size:16px;text-align:left;"><span>ADMINISTRATION</span></p><p style="font-size:12px;text-align:center;"><span>Workspaces &amp; Reports</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Body 1 (Dynamic Panel) -->
        <div id="u259" class="ax_default" data-label="Menu Body 1">
            <div id="u259_state0" class="panel_state" data-label="State1" style="">
                <div id="u259_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u260" class="ax_default box_1">
                        <div id="u260_div" class=""></div>
                        <div id="u260_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Body 2 (Dynamic Panel) -->
        <div id="u261" class="ax_default" data-label="Menu Body 2">
            <div id="u261_state0" class="panel_state" data-label="State1" style="">
                <div id="u261_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u262" class="ax_default box_1">
                        <div id="u262_div" class=""></div>
                        <div id="u262_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Dashboard (Dynamic Panel) -->
                    <div id="u263" class="ax_default" data-label="Dashboard">
                        <div id="u263_state0" class="panel_state" data-label="Grey" style="">
                            <div id="u263_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u264" class="ax_default box_1">
                                    <div id="u264_div" class=""></div>
                                    <div id="u264_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u263_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                            <div id="u263_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u265" class="ax_default box_1">
                                    <div id="u265_div" class=""></div>
                                    <div id="u265_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u263_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                            <div id="u263_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u266" class="ax_default box_1">
                                    <div id="u266_div" class=""></div>
                                    <div id="u266_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Requests (Dynamic Panel) -->
                    <div id="u267" class="ax_default" data-label="Requests">
                        <div id="u267_state0" class="panel_state" data-label="Grey" style="">
                            <div id="u267_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u268" class="ax_default box_1">
                                    <div id="u268_div" class=""></div>
                                    <div id="u268_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u267_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                            <div id="u267_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u269" class="ax_default box_1">
                                    <div id="u269_div" class=""></div>
                                    <div id="u269_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u267_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                            <div id="u267_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u270" class="ax_default box_1">
                                    <div id="u270_div" class=""></div>
                                    <div id="u270_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u267_state3" class="panel_state" data-label="On Page" style="visibility: hidden;">
                            <div id="u267_state3_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u271" class="ax_default box_1">
                                    <div id="u271_div" class=""></div>
                                    <div id="u271_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Requests Addon Panel (Dynamic Panel) -->
                    <div id="u272" class="ax_default ax_default_hidden" data-label="Requests Addon Panel" style="display:none; visibility: hidden">
                        <div id="u272_state0" class="panel_state" data-label="State1" style="">
                            <div id="u272_state0_content" class="panel_state_content">

                                <!-- New Request (Rectangle) -->
                                <div id="u273" class="ax_default label" data-label="New Request">
                                    <div id="u273_div" class=""></div>
                                    <div id="u273_text" class="text ">
                                        <p><span>Create New Request</span></p>
                                    </div>
                                </div>

                                <!-- View Requests (Rectangle) -->
                                <div id="u274" class="ax_default label" data-label="View Requests">
                                    <div id="u274_div" class=""></div>
                                    <div id="u274_text" class="text ">
                                        <p><span>View Pending Requests</span></p>
                                    </div>
                                </div>

                                <!-- View Approvals (Rectangle) -->
                                <div id="u275" class="ax_default label" data-label="View Approvals">
                                    <div id="u275_div" class=""></div>
                                    <div id="u275_text" class="text ">
                                        <p><span>View Pending Approvals</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hide Panel Button (Image) -->
        <div id="u276" class="ax_default image" data-label="Hide Panel Button">
            <img id="u276_img" class="img " src="~/Images/dashboard/hide_panel_button_u49.png" />
            <div id="u276_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Welcome out (Rectangle) -->
        <div id="u277" class="ax_default label" data-label="Welcome out">
            <div id="u277_div" class=""></div>
            <div id="u277_text" class="text ">
                <p><span>ADMINISTRATION - Workspaces &amp; Reports</span></p>
            </div>
        </div>

        <!-- Dashboard Icon (Dynamic Panel) -->
        <div id="u278" class="ax_default" data-label="Dashboard Icon">
            <div id="u278_state0" class="panel_state" data-label="Grey" style="">
                <div id="u278_state0_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u279" class="ax_default image">
                        <img id="u279_img" class="img " src="~/Images/dashboard/u52.png" />
                        <div id="u279_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u278_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                <div id="u278_state1_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u280" class="ax_default image">
                        <img id="u280_img" class="img " src="~/Images/dashboard/u53.png" />
                        <div id="u280_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u278_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                <div id="u278_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u281" class="ax_default box_1">
                        <div id="u281_div" class=""></div>
                        <div id="u281_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u282" class="ax_default image">
                        <img id="u282_img" class="img " src="~/Images/dashboard/u55.png" />
                        <div id="u282_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Admin Menu Button (Dynamic Panel) -->
        <div id="u283" class="ax_default" data-label="Admin Menu Button">
            <div id="u283_state0" class="panel_state" data-label="State1" style="">
                <div id="u283_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u284" class="ax_default box_1">
                        <div id="u284_div" class=""></div>
                        <div id="u284_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u285" class="ax_default image">
                        <img id="u285_img" class="img " src="~/Images/dashboard/u60.png" />
                        <div id="u285_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u283_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u283_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u286" class="ax_default box_1">
                        <div id="u286_div" class=""></div>
                        <div id="u286_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u287" class="ax_default image">
                        <img id="u287_img" class="img " src="~/Images/dashboard/u60.png" />
                        <div id="u287_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u283_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
                <div id="u283_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u288" class="ax_default box_1">
                        <div id="u288_div" class=""></div>
                        <div id="u288_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u289" class="ax_default image">
                        <img id="u289_img" class="img " src="~/Images/dashboard/u64.png" />
                        <div id="u289_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Menu Button (Dynamic Panel) -->
        <div id="u290" class="ax_default" data-label="Profile Menu Button">
            <div id="u290_state0" class="panel_state" data-label="State1" style="">
                <div id="u290_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u291" class="ax_default box_1">
                        <div id="u291_div" class=""></div>
                        <div id="u291_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u292" class="ax_default image">
                        <img id="u292_img" class="img " src="~/Images/dashboard/u67.png" />
                        <div id="u292_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u290_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u290_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u293" class="ax_default box_1">
                        <div id="u293_div" class=""></div>
                        <div id="u293_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u294" class="ax_default image">
                        <img id="u294_img" class="img " src="~/Images/dashboard/u67.png" />
                        <div id="u294_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Requests Icon (Dynamic Panel) -->
        <div id="u295" class="ax_default" data-label="Requests Icon">
            <div id="u295_state0" class="panel_state" data-label="Grey" style="">
                <div id="u295_state0_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u296" class="ax_default image">
                        <img id="u296_img" class="img " src="~/Images/dashboard/u150.png" />
                        <div id="u296_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u295_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                <div id="u295_state1_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u297" class="ax_default image">
                        <img id="u297_img" class="img " src="~/Images/dashboard/u151.png" />
                        <div id="u297_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u295_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                <div id="u295_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u298" class="ax_default box_1">
                        <div id="u298_div" class=""></div>
                        <div id="u298_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u299" class="ax_default image">
                        <img id="u299_img" class="img " src="~/Images/dashboard/u153.png" />
                        <div id="u299_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u295_state3" class="panel_state" data-label="On Page" style="visibility: hidden;">
                <div id="u295_state3_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u300" class="ax_default box_1">
                        <div id="u300_div" class=""></div>
                        <div id="u300_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u301" class="ax_default image">
                        <img id="u301_img" class="img " src="~/Images/dashboard/u153.png" />
                        <div id="u301_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logged User (Rectangle) -->
        <div id="u302" class="ax_default label" data-label="Logged User">
            <div id="u302_div" class=""></div>
            <div id="u302_text" class="text ">
                <p><span>Selva </span></p>
            </div>
        </div>

        <!-- Time (Rectangle) -->
        <div id="u303" class="ax_default label" data-label="Time">
            <div id="u303_div" class=""></div>
            <div id="u303_text" class="text ">
                <p><span>xxxxxxxx</span></p>
            </div>
        </div>

        <!-- wsReps Panel (Dynamic Panel) -->
        <div id="u304" class="ax_default" data-label="wsReps Panel">
            <div id="u304_state0" class="panel_state" data-label="State1" style="">
                <div id="u304_state0_content" class="panel_state_content">

                    <!-- Finance Workspace (Dynamic Panel) -->
                    <div id="u305" class="ax_default" data-label="Finance Workspace">
                        <div id="u305_state0" class="panel_state" data-label="Collapsed" style="">
                            <div id="u305_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u306" class="ax_default box_1">
                                    <div id="u306_div" class=""></div>
                                    <div id="u306_text" class="text ">
                                        <p><span>Finance Workspace / 5 / PrinceV</span></p>
                                    </div>
                                </div>

                                <!-- OFinWS (Image) -->
                                <div id="u307" class="ax_default image" data-label="OFinWS">
                                    <img id="u307_img" class="img " src="~/Images/ws_reps/ofinws_u307.png" />
                                    <div id="u307_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u305_state1" class="panel_state" data-label="Extended" style="visibility: hidden;">
                            <div id="u305_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u308" class="ax_default box_1">
                                    <div id="u308_div" class=""></div>
                                    <div id="u308_text" class="text ">
                                        <p><span>Finance Workspace / 5 / PrinceV</span></p>
                                    </div>
                                </div>

                                <!-- CFinWS (Image) -->
                                <div id="u309" class="ax_default image" data-label="CFinWS">
                                    <img id="u309_img" class="img " src="~/Images/ws_reps/ofinws_u307.png" />
                                    <div id="u309_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Sales Workspace (Dynamic Panel) -->
                    <div id="u310" class="ax_default" data-label="Sales Workspace">
                        <div id="u310_state0" class="panel_state" data-label="Collapsed" style="">
                            <div id="u310_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u311" class="ax_default box_1">
                                    <div id="u311_div" class=""></div>
                                    <div id="u311_text" class="text ">
                                        <p><span>Sales Workspace / 5 / ChinmayP</span></p>
                                    </div>
                                </div>

                                <!-- OSalWS (Image) -->
                                <div id="u312" class="ax_default image" data-label="OSalWS">
                                    <img id="u312_img" class="img " src="~/Images/ws_reps/ofinws_u307.png" />
                                    <div id="u312_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Purchase Workspace (Dynamic Panel) -->
                    <div id="u313" class="ax_default" data-label="Purchase Workspace">
                        <div id="u313_state0" class="panel_state" data-label="Collapsed" style="">
                            <div id="u313_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u314" class="ax_default box_1">
                                    <div id="u314_div" class=""></div>
                                    <div id="u314_text" class="text ">
                                        <p><span>Purchase Workspace / 5 / PrinceV</span></p>
                                    </div>
                                </div>

                                <!-- OPurWS (Image) -->
                                <div id="u315" class="ax_default image" data-label="OPurWS">
                                    <img id="u315_img" class="img " src="~/Images/ws_reps/ofinws_u307.png" />
                                    <div id="u315_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Production Workspace (Dynamic Panel) -->
                    <div id="u316" class="ax_default" data-label="Production Workspace">
                        <div id="u316_state0" class="panel_state" data-label="Collapsed" style="">
                            <div id="u316_state0_content" class="panel_state_content">

                                <!-- Unnamed (Shape) -->
                                <div id="u317" class="ax_default box_1">
                                    <img id="u317_img" class="img " src="~/Images/ws_reps/u317.svg" />
                                    <div id="u317_text" class="text ">
                                        <p><span>Production Workspace / 5 / RoshanJ</span></p>
                                    </div>
                                </div>

                                <!-- OProWS (Image) -->
                                <div id="u318" class="ax_default image" data-label="OProWS">
                                    <img id="u318_img" class="img " src="~/Images/ws_reps/ofinws_u307.png" />
                                    <div id="u318_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- HR Workspace (Dynamic Panel) -->
                    <div id="u319" class="ax_default" data-label="HR Workspace">
                        <div id="u319_state0" class="panel_state" data-label="Collapsed" style="">
                            <div id="u319_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u320" class="ax_default box_1">
                                    <div id="u320_div" class=""></div>
                                    <div id="u320_text" class="text ">
                                        <p><span>HR Workspace / 5 / PratikshaM</span></p>
                                    </div>
                                </div>

                                <!-- OHrWS (Image) -->
                                <div id="u321" class="ax_default image" data-label="OHrWS">
                                    <img id="u321_img" class="img " src="~/Images/ws_reps/ofinws_u307.png" />
                                    <div id="u321_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fin Reports Panel (Dynamic Panel) -->
                    <div id="u322" class="ax_default ax_default_hidden" data-label="Fin Reports Panel" style="display:none; visibility: hidden">
                        <div id="u322_state0" class="panel_state" data-label="State1" style="">
                            <div id="u322_state0_content" class="panel_state_content">

                                <!-- Report 1 (Rectangle) -->
                                <div id="u323" class="ax_default label" data-label="Report 1">
                                    <div id="u323_div" class=""></div>
                                    <div id="u323_text" class="text ">
                                        <p><span>Report 1</span></p>
                                    </div>
                                </div>

                                <!-- Report 2 (Rectangle) -->
                                <div id="u324" class="ax_default label" data-label="Report 2">
                                    <div id="u324_div" class=""></div>
                                    <div id="u324_text" class="text ">
                                        <p><span>Report 2</span></p>
                                    </div>
                                </div>

                                <!-- Report 3 (Rectangle) -->
                                <div id="u325" class="ax_default label" data-label="Report 3">
                                    <div id="u325_div" class=""></div>
                                    <div id="u325_text" class="text ">
                                        <p><span>Report 3</span></p>
                                    </div>
                                </div>

                                <!-- Report 4 (Rectangle) -->
                                <div id="u326" class="ax_default label" data-label="Report 4">
                                    <div id="u326_div" class=""></div>
                                    <div id="u326_text" class="text ">
                                        <p><span>Report 4</span></p>
                                    </div>
                                </div>

                                <!-- Report 5 (Rectangle) -->
                                <div id="u327" class="ax_default label" data-label="Report 5">
                                    <div id="u327_div" class=""></div>
                                    <div id="u327_text" class="text ">
                                        <p><span>Report 5</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u328" class="ax_default image">
                        <img id="u328_img" class="img " src="~/Images/ws_reps/u328.png" />
                        <div id="u328_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u329" class="ax_default image">
                        <img id="u329_img" class="img " src="~/Images/ws_reps/u328.png" />
                        <div id="u329_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u330" class="ax_default image">
                        <img id="u330_img" class="img " src="~/Images/ws_reps/u328.png" />
                        <div id="u330_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u331" class="ax_default image">
                        <img id="u331_img" class="img " src="~/Images/ws_reps/u328.png" />
                        <div id="u331_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u332" class="ax_default image">
                        <img id="u332_img" class="img " src="~/Images/ws_reps/u328.png" />
                        <div id="u332_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Workspace edit popup (Dynamic Panel) -->
                    <div id="u333" class="ax_default ax_default_hidden" data-label="Workspace edit popup" style="display:none; visibility: hidden">
                        <div id="u333_state0" class="panel_state" data-label="State1" style="">
                            <div id="u333_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u334" class="ax_default box_1">
                                    <div id="u334_div" class=""></div>
                                    <div id="u334_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u335" class="ax_default box_1">
                                    <div id="u335_div" class=""></div>
                                    <div id="u335_text" class="text ">
                                        <p><span>Finance Workspace</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u336" class="ax_default label">
                                    <div id="u336_div" class=""></div>
                                    <div id="u336_text" class="text ">
                                        <p><span>Report 1</span></p><p><span>Report 2 (has 2 pages)</span></p><p><span>Report 3</span></p><p><span>Report 4 (has 3 pages)</span></p><p><span>Report 5</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Vertical Line) -->
                                <div id="u337" class="ax_default line">
                                    <img id="u337_img" class="img " src="~/Images/ws_reps/u337.svg" />
                                    <div id="u337_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u338" class="ax_default label">
                                    <div id="u338_div" class=""></div>
                                    <div id="u338_text" class="text ">
                                        <p><span>Published</span></p><p><span>22nd July 2019</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Vertical Line) -->
                                <div id="u339" class="ax_default line">
                                    <img id="u339_img" class="img " src="~/Images/ws_reps/u337.svg" />
                                    <div id="u339_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u340" class="ax_default label">
                                    <div id="u340_div" class=""></div>
                                    <div id="u340_text" class="text ">
                                        <p><span>Owner</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Rectangle) -->
                                <div id="u341" class="ax_default button">
                                    <div id="u341_div" class=""></div>
                                    <div id="u341_text" class="text ">
                                        <p><span>Save</span></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Image) -->
                                <div id="u342" class="ax_default image">
                                    <img id="u342_img" class="img " src="~/Images/login/forgot_password_close_u18.png" />
                                    <div id="u342_text" class="text " style="display:none; visibility: hidden">
                                        <p></p>
                                    </div>
                                </div>

                                <!-- Unnamed (Droplist) -->
                                <div id="u343" class="ax_default droplist">
                                    <div id="u343_div" class=""></div>
                                    <select id="u343_input" class="u343_input">
                                        <option class="u343_input_option" selected value="PrinceV">PrinceV</option>
                                        <option class="u343_input_option" value="ChinmayC">ChinmayC</option>
                                        <option class="u343_input_option" value="RoshanJ">RoshanJ</option>
                                        <option class="u343_input_option" value="PrateekshaM">PrateekshaM</option>
                                        <option class="u343_input_option" value="SandeepS">SandeepS</option>
                                        <option class="u343_input_option" value="ImadS">ImadS</option>
                                        <option class="u343_input_option" value="AneeshK">AneeshK</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
