<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BIPortal</title>

    <link href="~/Styles/Common/Data_Styles.css" type="text/css" rel="stylesheet" />
    <link href="~/Styles/Common/axure_rp_page.css" type="text/css" rel="stylesheet" />

</head>

<body>


    <div id="base" class="">

        <!-- Unnamed (Rectangle) -->
        <div id="u626" class="ax_default box_1">
            <div id="u626_div" class=""></div>
            <div id="u626_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- bottom Bar (Rectangle) -->
        <div id="u627" class="ax_default box_1" data-label="bottom Bar">
            <div id="u627_div" class=""></div>
            <div id="u627_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Header (Rectangle) -->
        <div id="u628" class="ax_default box_1" data-label="Header">
            <div id="u628_div" class=""></div>
            <div id="u628_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- App Icon (Image) -->
        <div id="u629" class="ax_default image" data-label="App Icon">
            <img id="u629_img" class="img " src="~/Images/Login/u6.png" />
            <div id="u629_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        <!-- Menu Header 2 (Dynamic Panel) -->
        <div id="u630" class="ax_default" data-label="Menu Header 2">
            <div id="u630_state0" class="panel_state" data-label="Unhidden" style="">
                <div id="u630_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u631" class="ax_default box_1">
                        <div id="u631_div" class=""></div>
                        <div id="u631_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Rectangle) -->
                    <div id="u632" class="ax_default heading_1">
                        <div id="u632_div" class=""></div>
                        <div id="u632_text" class="text ">
                            <p><span>BI Ast. Mgt. Portal</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u630_state1" class="panel_state" data-label="Hidden" style="visibility: hidden;">
                <div id="u630_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u633" class="ax_default box_1">
                        <div id="u633_div" class=""></div>
                        <div id="u633_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Open Panel (Image) -->
                    <div id="u634" class="ax_default image" data-label="Open Panel">
                        <img id="u634_img" class="img " src="~/Images/Dashboard/open_panel_u29.png" />
                        <div id="u634_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>


                    <!-- Welcome In (Rectangle) -->
                    <div id="u635" class="ax_default label" data-label="Welcome In">
                        <div id="u635_div" class=""></div>
                        <div id="u635_text" class="text ">
                            <p style="font-size:16px;text-align:left;"><span>ADMINISTRATION</span></p><p style="font-size:12px;text-align:center;"><span>Roles &amp; Rights</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Body 1 (Dynamic Panel) -->
        <div id="u636" class="ax_default" data-label="Menu Body 1">
            <div id="u636_state0" class="panel_state" data-label="State1" style="">
                <div id="u636_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u637" class="ax_default box_1">
                        <div id="u637_div" class=""></div>
                        <div id="u637_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Menu Body 2 (Dynamic Panel) -->
        <div id="u638" class="ax_default" data-label="Menu Body 2">
            <div id="u638_state0" class="panel_state" data-label="State1" style="">
                <div id="u638_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u639" class="ax_default box_1">
                        <div id="u639_div" class=""></div>
                        <div id="u639_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Dashboard (Dynamic Panel) -->
                    <div id="u640" class="ax_default" data-label="Dashboard">
                        <div id="u640_state0" class="panel_state" data-label="Grey" style="">
                            <div id="u640_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u641" class="ax_default box_1">
                                    <div id="u641_div" class=""></div>
                                    <div id="u641_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u640_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                            <div id="u640_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u642" class="ax_default box_1">
                                    <div id="u642_div" class=""></div>
                                    <div id="u642_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u640_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                            <div id="u640_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u643" class="ax_default box_1">
                                    <div id="u643_div" class=""></div>
                                    <div id="u643_text" class="text ">
                                        <p><span>Dashboard</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Requests (Dynamic Panel) -->
                    <div id="u644" class="ax_default" data-label="Requests">
                        <div id="u644_state0" class="panel_state" data-label="Grey" style="">
                            <div id="u644_state0_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u645" class="ax_default box_1">
                                    <div id="u645_div" class=""></div>
                                    <div id="u645_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u644_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                            <div id="u644_state1_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u646" class="ax_default box_1">
                                    <div id="u646_div" class=""></div>
                                    <div id="u646_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u644_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                            <div id="u644_state2_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u647" class="ax_default box_1">
                                    <div id="u647_div" class=""></div>
                                    <div id="u647_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="u644_state3" class="panel_state" data-label="On Page" style="visibility: hidden;">
                            <div id="u644_state3_content" class="panel_state_content">

                                <!-- Unnamed (Rectangle) -->
                                <div id="u648" class="ax_default box_1">
                                    <div id="u648_div" class=""></div>
                                    <div id="u648_text" class="text ">
                                        <p><span>Requests</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Requests Addon Panel (Dynamic Panel) -->
                    <div id="u649" class="ax_default ax_default_hidden" data-label="Requests Addon Panel" style="display:none; visibility: hidden">
                        <div id="u649_state0" class="panel_state" data-label="State1" style="">
                            <div id="u649_state0_content" class="panel_state_content">

                                <!-- New Request (Rectangle) -->
                                <div id="u650" class="ax_default label" data-label="New Request">
                                    <div id="u650_div" class=""></div>
                                    <div id="u650_text" class="text ">
                                        <p><span>Create New Request</span></p>
                                    </div>
                                </div>

                                <!-- View Requests (Rectangle) -->
                                <div id="u651" class="ax_default label" data-label="View Requests">
                                    <div id="u651_div" class=""></div>
                                    <div id="u651_text" class="text ">
                                        <p><span>View Pending Requests</span></p>
                                    </div>
                                </div>

                                <!-- View Approvals (Rectangle) -->
                                <div id="u652" class="ax_default label" data-label="View Approvals">
                                    <div id="u652_div" class=""></div>
                                    <div id="u652_text" class="text ">
                                        <p><span>View Pending Approvals</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Hide Panel Button (Image) -->
        <div id="u653" class="ax_default image" data-label="Hide Panel Button">
            <img id="u653_img" class="img " src="~/Images/Dashboard/hide_panel_button_u49.png" />
            <div id="u653_text" class="text " style="display:none; visibility: hidden">
                <p></p>
            </div>
        </div>

        

        <!-- Welcome out (Rectangle) -->
        @*<div id="u654" class="ax_default label" data-label="Welcome out">
            <div id="u654_div" class=""></div>
            <div id="u654_text" class="text ">
                <p><span>ADMINISTRATION</span></p>
            </div>
        </div>*@

        <!-- Dashboard Icon (Dynamic Panel) -->
        <div id="u655" class="ax_default" data-label="Dashboard Icon">
            <div id="u655_state0" class="panel_state" data-label="Grey" style="">
                <div id="u655_state0_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u656" class="ax_default image">
                        <img id="u656_img" class="img " src="~/Images/Dashboard/u52.png" />
                        <div id="u656_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u655_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                <div id="u655_state1_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u657" class="ax_default image">
                        <img id="u657_img" class="img " src="~/Images/Dashboard/u53.png" />
                        <div id="u657_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u655_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                <div id="u655_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u658" class="ax_default box_1">
                        <div id="u658_div" class=""></div>
                        <div id="u658_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u659" class="ax_default image">
                        <img id="u659_img" class="img " src="~/Images/Dashboard/u55.png" />
                        <div id="u659_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Admin Menu Button (Dynamic Panel) -->
        <div id="u660" class="ax_default" data-label="Admin Menu Button">
            <div id="u660_state0" class="panel_state" data-label="State1" style="">
                <div id="u660_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u661" class="ax_default box_1">
                        <div id="u661_div" class=""></div>
                        <div id="u661_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <a href="@Url.Action("Index","Administration")" class="defaultpage_menu">
                        <div id="u662" class="ax_default image">
                            <img id="u662_img" class="img " src="~/Images/Dashboard/u60.png" />
                            <div id="u662_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="u660_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u660_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u663" class="ax_default box_1">
                        <div id="u663_div" class=""></div>
                        <div id="u663_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u664" class="ax_default image">
                        <img id="u664_img" class="img " src="~/Images/Dashboard/u60.png" />
                        <div id="u664_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u660_state2" class="panel_state" data-label="State3" style="visibility: hidden;">
                <div id="u660_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u665" class="ax_default box_1">
                        <div id="u665_div" class=""></div>
                        <div id="u665_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u666" class="ax_default image">
                        <img id="u666_img" class="img " src="~/Images/Dashboard/u64.png" />
                        <div id="u666_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile Menu Button (Dynamic Panel) -->
        <div id="u667" class="ax_default" data-label="Profile Menu Button">
            <div id="u667_state0" class="panel_state" data-label="State1" style="">
                <div id="u667_state0_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u668" class="ax_default box_1">
                        <div id="u668_div" class=""></div>
                        <div id="u668_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <a href="@Url.Action("Index","users/MyProfile")" class="defaultpage_menu">
                        <div id="u669" class="ax_default image">
                            <img id="u669_img" class="img " src="~/Images/Dashboard/u67.png" />
                            <div id="u669_text" class="text " style="display:none; visibility: hidden">
                                <p></p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="u667_state1" class="panel_state" data-label="State2" style="visibility: hidden;">
                <div id="u667_state1_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u670" class="ax_default box_1">
                        <div id="u670_div" class=""></div>
                        <div id="u670_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u671" class="ax_default image">
                        <img id="u671_img" class="img " src="~/Images/Dashboard/u67.png" />
                        <div id="u671_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Search Panel (Dynamic Panel) -->
        <div id="u70" class="ax_default" data-label="Search Panel" tabindex="0" style="cursor: pointer;">


            <div id="u70_state1" class="panel_state" data-label="Not Shaded" style="visibility: hidden; display: none; position: absolute;">
                <div id="u70_state1_content" class="panel_state_content">

                    <!-- Search Field (Text Field) -->
                    <div id="u73" class="ax_default text_field" data-label="Search Field">
                        <div id="u73_div" class=""></div>
                        <input id="u73_input" type="text" value="" class="u73_input" style="color: rgb(153, 153, 153); outline: none;">
                    </div>
                </div>
            </div><div id="u70_state0" class="panel_state" data-label="Shaded" style="visibility: inherit; position: absolute;">
                <div id="u70_state0_content" class="panel_state_content">

                   

                    <!-- Unnamed (Rectangle) -->
                    <div id="u72" class="ax_default box_1">
                        <div id="u72_div" class=""></div>
                        <div id="u72_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Requests Icon (Dynamic Panel) -->
        <div id="u672" class="ax_default" data-label="Requests Icon">
            <div id="u672_state0" class="panel_state" data-label="Grey" style="">
                <div id="u672_state0_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u673" class="ax_default image">
                        <img id="u673_img" class="img " src="~/Images/Dashboard/u150.png" />
                        <div id="u673_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u672_state1" class="panel_state" data-label="White" style="visibility: hidden;">
                <div id="u672_state1_content" class="panel_state_content">

                    <!-- Unnamed (Image) -->
                    <div id="u674" class="ax_default image">
                        <img id="u674_img" class="img " src="~/Images/Dashboard/u151.png" />
                        <div id="u674_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u672_state2" class="panel_state" data-label="Black" style="visibility: hidden;">
                <div id="u672_state2_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u675" class="ax_default box_1">
                        <div id="u675_div" class=""></div>
                        <div id="u675_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u676" class="ax_default image">
                        <img id="u676_img" class="img " src="~/Images/Dashboard/u153.png" />
                        <div id="u676_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="u672_state3" class="panel_state" data-label="On Page" style="visibility: hidden;">
                <div id="u672_state3_content" class="panel_state_content">

                    <!-- Unnamed (Rectangle) -->
                    <div id="u677" class="ax_default box_1">
                        <div id="u677_div" class=""></div>
                        <div id="u677_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>

                    <!-- Unnamed (Image) -->
                    <div id="u678" class="ax_default image">
                        <img id="u678_img" class="img " src="~/Images/Dashboard/u153.png" />
                        <div id="u678_text" class="text " style="display:none; visibility: hidden">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Logged User (Rectangle) -->
        <div id="u679" class="ax_default label" data-label="Logged User">
            <div id="u679_div" class=""></div>
            <div id="u679_text" class="text ">
                <p><span>Selva</span></p>
            </div>
        </div>

        <!-- Time (Rectangle) -->
        <div id="u680" class="ax_default label" data-label="Time">
            <div id="u680_div" class=""></div>
            <div id="u680_text" class="text ">
                <p><span>XXXXX</span></p>
            </div>
        </div>


        @RenderBody()

    </div>


</body>



 


</html>
